<div class="container mt-3">
    <div class="row">
        <div class="col-md-6"></div>
        <h2>Form Ubah Todo Pegawai</h2>

        <% if (typeof errors != 'undefined') { %>
        <div class="alert alert-danger" role="alert">
            <ul>
                <% errors.forEach(error => { %>
                <li><%= error.msg %> </li>
                <% }) %>
            </ul>
        </div>
        <% } %>
        <% console.log(tugas) %>
        <form method="POST" action="/tugas/update/<%= tugas._id %>">
            <input type="hidden" name="oldNama" value="<%= tugas.oldNama || tugas.nama_tugas %>">
            <div class="mb-3">
                <label for="nama_tugas" class="form-label">Nama Tugas</label>
                <input type="text" class="form-control" id="nama_tugas" name="nama_tugas" value="<%= tugas.nama_tugas %>" required>
            </div>
            <div class="mb-3">
                <label for="tanggal" class="form-label">Tanggal</label>
                <input type="date" class="form-control" id="tanggal" name="tanggal" value="<%= tugas.tanggal %>" required>
            </div>
            <div class="mb-3">
                <label for="status" class="form-label">Status</label>
                <input type="text" class="form-control" id="status" name="status" value="<%= tugas.status %>" required>
                <input type="hidden" class="form-control" id="id_pegawai" name="id_pegawai" value="<%= tugas.id_pegawai %>" required>
            </div>
            <button type="submit" class="btn btn-primary">Edit Todo</button>
        </form>
    </div>
</div>