<div class="container mt-3">
    <div class="row">
        <div class="col-md-8">
            <h2>Data Pegawai</h2>
            <a href="/home/add<%= pegawai.nama %> " class="btn btn-success rounded-pill mb-3"> <i
                class="bi bi-info-circle"></i>
            Tambah Data</a>
            <table class="table table-bordered border-dark">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">NO</th>
                        <th scope="col">Nama</th>
                        <th scope="col">Jenis Kelamin</th>
                        <th scope="col">Departement</th>
                        <th scope="col">Jabatan</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% pegawai.forEach((pegawai, i) => { i++ %>
                    <tr>
                        <th scope="row"><%= i %> </th>
                        <th><a href="/pegawai/<%= pegawai._id %>"><%= pegawai.nama %></a></th>
                        <th><%= pegawai.jenis_kel %> </th>
                        <th><%= pegawai.departement %> </th>
                        <th><%= pegawai.jabatan %> </th>
                        <th>
                            <a href="/home/edit/<%= pegawai._id %> " class="btn btn-success rounded-pill  badge mb-3">
                            Edit</a>
                            <a href="/home/delete/<%= pegawai._id %> " class="btn btn-success rounded-pill badge mb-3" onclick="return confirm('yakin?');">
                            Hapus</a>
                        </th>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>
</div>