<div class="container mt-3">
    <div class="row">
        <div class="col-md-8">
            <h2>Data Todo</h2>
            <table class="table table-bordered border-dark">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">NO</th>
                        <th scope="col">ID Pegawai</th>
                        <th scope="col">Nama Tugas</th>
                        <th scope="col">Tanggal</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                    <% tugas.forEach((tugas, i) => { i++ %>
                    <tr>
                        <th scope="row"><%= i %> </th>
                        <th><%= tugas.id_pegawai %></a></th>
                        <th><%= tugas.nama_tugas %></a></th>
                        <th><%= tugas.tanggal %> </th>
                        <th><%= tugas.status %> </th>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>
</div>